<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>servlets.regServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>regServlet</servlet-name>
        <servlet-class>servlets.regServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cargaVehiculosServlet</servlet-name>
        <servlet-class>servlets.cargaVehiculosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logServlet</servlet-name>
        <servlet-class>servlets.logServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>regServlet</servlet-name>
        <url-pattern>/regServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cargaVehiculosServlet</servlet-name>
        <url-pattern>/vehiculos.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logServlet</servlet-name>
        <url-pattern>/logServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
