@import url('https://fonts.googleapis.com/css?family=Numans');
html,
body {
    background-color: #444444;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.card-header {
    margin: 60px;
    color: white;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.login_btn {
    margin-top: 10px;
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}

#loginBlock {
    display: flexbox;
    margin-left: 40%;
    margin-top: 100px;
    text-align: center;
    align-content: center;
}

.card registro {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}


.card-header registro {
    margin: 60px;
    color: white;
}

#registroBlock {
    display: flexbox;
    margin-left: 40%;
    margin-top: 100px;
    text-align: center;
    align-content: center;
}